.detail {
  margin: 0;
  padding-top: 80px;
  padding-left: 16px;
  padding-right: 16px;
}

.detail table {
  width: 100%;
  border-spacing: 0;
  border-collapse: collapse;
  font-size: 0.8125rem;
}

.detail table th {
  display: table-cell;
  padding: 4px 24px 4px 0px;
  text-align: left;
  border-bottom: 1px solid rgba(224, 224, 224, 1);
}

.detail table td {
  display: table-cell;
  padding: 4px 24px 4px 24px;
  text-align: left;
  border-bottom: 1px solid rgba(224, 224, 224, 1);
  word-break: break-all;
}

.detail .info {
  overflow: hidden;
}
